* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #d9d9d9;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

main {
  padding: 20px;
  max-width: 930px;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  min-height: 80vh;
}

.home-ctas {
  display: flex;
  gap: 22px;
}

.primary-cta,
.secondary-cta {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.primary-cta {
  background-color: #d9d9d9;
  padding: 15px 30px;
}

.secondary-cta {
  border: solid black 2px;
  padding: 15px 30px;
}

.hero h1 {
  font-size: 36px;
}

.hero p {
  font-size: 24px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

h2 {
  font-size: 24px;
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 45px; */
  border: 1px solid black;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.project-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.project-details-short {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.project-cta {
  text-decoration: none;
  color: black;
  display: flex;
  background-color: #d9d9d9;
  padding: 15px 30px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding-top: 50px;
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 45px;
}

.about-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.about-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-cta {
  display: flex;
  text-decoration: none;
  color: black;
  background-color: #d9d9d9;
  padding: 15px 30px;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 50px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-budget-options {
  display: flex;
  flex-direction: column;
}

/* .freelance-field {
  display: none;
} */
